/* APP */
html {
  font-size: 16px;
}

body {
  background-color: #000;
  color: #B0AB92;
}

.App {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #fff;
}

.app-content-container {
  background-color: #13141A;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  padding: 3% 0;
}

.app-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 20px;
}

/* REUSABLE CLASSES */
.tile {
  padding: 20px;
  background-color: #282930;
  border-radius: 20px;
}

.full-width-centered {
  width: 94%;
  margin: 0 auto;
}

.scrollable {
  overflow-x: scroll;
  scrollbar-color: rgba(255, 255, 255, .5) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  scrollbar-gutter:initial;
}

/* LOGO & LOOKUP SECTION */
.logo-lookup {
  max-width: 628px;
  width: 50%;
  font-size: 1.2rem;
}

.logo-lookup img {
  width: 100%;
  max-width: 628px;
  max-height: 116px;
  margin-bottom: 10px;
}

.logo-lookup-version {
  font-size: .8rem;
}

.logo-lookup-current {
  display: flex;
  flex-direction: row;
}

.logo-lookup button {
  width: 104px;
  font-size: 1rem;
  background-color: #FF8157;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 3px 12px;
  margin-left: 10px;
}

.lookup-form input {
  width: calc(100% - 150px);
  font-size: 1rem;
  background-color: #000;
  color: #FF8157;
  border: 2px solid #494C59;
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  margin-right: 10px;
}

/* CURRENT CONDITIONS */
.current-conditions {
  width: 40%;
  position: relative;
  min-height: 122px;
}

.current-conditions-heading {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1rem;
}

.current-conditions-weather {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  top: 54px;
  font-size: 1.2rem;
}

/* FORECAST */
.forecast {
  margin-top: 60px;
  display: block;
}

.forecast-heading {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1rem;
}

.forecast-heading h2 {
  margin-bottom: 0;
}

.forecast ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start; 
  gap: 1rem;
}

.forecast-item {
  position: relative;
  padding: 1em .5rem;
  border-radius: 15px;
  border: 2px solid #7DA2E8;
  width: 11rem;
  height: 14.5rem;
  text-align: center;
  overflow: hidden;
  transition: width ease-out .5s;
  cursor: pointer;
}

.forecast-item.expanded {
  width: 36rem;
}

.forecast-item-heading {
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: calc(100% - 2rem);
  font-size: 1.4rem;
  line-height: 1rem;
  font-weight: 600;
  transition: top ease-out .5s;
}

.forecast-item.expanded .forecast-item-heading {
  top: 1rem;
}

.forecast-item .temperature-display {
  width: 100%;
  position: absolute;
  top: 4.4rem;
  left: 0;
  transition: top ease-out .5s;
}

.forecast-item.expanded .temperature-display {
  top: 2.5rem;
}

.forecast-item-desc {
  width: 10rem;
  position: absolute;
  font-size: 1.2rem;
  top: 10.4rem;
  left: 1rem;
  transition: opacity ease-out .5s;
}

.forecast-item-detail {
  width: 35rem;
  font-size: 1rem;
  position: absolute;
  top: 7.5rem;
  left: 1rem;
  text-align: left;
  transition: opacity ease-out .5s;
  overflow-y: scroll;
}

/* TEMPERATURE DISPLAY */
.temperature-display {
  padding: 0;
  margin: 0;
}

.temperature-numeral {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  padding: 0;
  font-size: 6rem;
  line-height: 4.8rem;
  color: #FF8157;
}

.temperature-unit {
  letter-spacing: .3rem;
  font-size: 2rem;
  vertical-align: top;
  color: #fff;
}

@media (max-width: 900px)  {
  html {
    font-size: 12px;
  }

  .tile {
    padding: 10px;
    border-radius: 15px;
  }

  .app-header {
    flex-direction: column;
    align-items: center;
  }

  .logo-lookup {
    max-width: 628px;
    width: 100%;
    font-size: 1.5rem;
  }

  .logo-lookup button, .logo-lookup input {
    font-size: 1.5rem;
  }

  .current-conditions {
    width: 97%;
    min-height: 0;
    height: 90px;
  }

  .current-conditions-weather {
    top: 40px;
    gap: 0;
  }
  
  .current-conditions-heading {
    left: 15px;
    top: 15px;
  }

  .forecast {
    margin-top: 10px;
  }

  .forecast-item {
    border: 1px solid #7DA2E8;
    border-radius: 10px;
    width: 9rem;
    height: 13rem;
  }
  
  .forecast-item.expanded {
    width: 27.5rem;
  }
  
  .forecast-item-heading {
    top: 1.8rem;
    left: .5rem;
    width: calc(100% - 1rem);
  }
  
  .forecast-item .temperature-display {
    top: 4.5rem;
  }

  .forecast-item.expanded .forecast-item-heading {
    top: 1rem;
  }
  
  .forecast-item.expanded .temperature-display {
    top: 2.4rem;
  }
  
  .forecast-item-desc {
    width: 8rem;
    top: 10.4rem;
    left: 1rem;
  }
  
  .forecast-item-detail {
    width: 27rem;
    font-size: 1.1rem;
    position: absolute;
    top: 7.2rem;
    left: 1rem;
    transition: opacity ease-out .5s;
  }
}