body {
  background-color: #13141A;
  color: #B0AB92;
  padding: 40px;
}

.App {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #fff;
}

.tile {
  padding: 20px;
  background-color: #282930;
  border-radius: 20px;
}

.scrollable {
  overflow-x: scroll;
  scrollbar-color: rgba(255, 255, 255, .5) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  scrollbar-gutter:initial;
}

.app-header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 20px;
}

/* LOGO & LOOKUP SECTION */
.logo-lookup {
  max-width: 628px;
  width: 50%;
}

.logo-lookup img {
  width: 100%;
  max-width: 628px;
  max-height: 116px;
  margin-bottom: 10px;
}

.logo-lookup-version {
  font-size: .8em;
}

.logo-lookup-current {
  display: flex;
  flex-direction: row;
}

.logo-lookup button {
  width: 104px;
  font-size: 1em;
  background-color: #FF8157;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 3px 12px;
  margin-left: 10px;
}

.lookup-form input {
  width: calc(100% - 150px);
  font-size: 1em;
  background-color: #000;
  color: #FF8157;
  border: 2px solid #494C59;
  border-radius: 8px;
  padding: 4px 8px 4px 8px;
  margin-right: 10px;
}

/* CURRENT CONDITIONS */
.current-conditions {
  width: 40%;
  position: relative;
  min-height: 122px;
}

.current-conditions-heading {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 1.5em;
  line-height: 1em;
}

.current-conditions-weather {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  top: 54px;
}

/* FORECAST */
.forecast {
  margin-top: 60px;
  display: block;
}

.forecast-heading {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
}

.forecast-heading h2 {
  margin-bottom: 0;
}

.forecast ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
  align-content: flex-start; 
  gap: 20px;
}

.forecast-item {
  position: relative;
  padding: 20px 10px 20px 10px;
  border-radius: 15px;
  border: 2px solid #7DA2E8;
  width: 200px;
  height: 230px;
  text-align: center;
  overflow: hidden;
  transition: width ease-out .5s;
  cursor: pointer;
}

.forecast-item.expanded {
  width: 500px;
}

.forecast-item-heading {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  font-size: 1.4em;
  line-height: 1em;
}

.forecast-item .temperature-display {
  width: 100%;
  position: absolute;
  top: 64px;
  left: 0px;
  transition: top ease-out .5s;
}

.forecast-item.expanded .temperature-display {
  top: 52px;
}

.forecast-item-desc {
  width: 180px;
  position: absolute;
  top: 164px;
  left: 20px;
  transition: opacity ease-out .5s;
}

.forecast-item-detail {
  width: 480px;
  position: absolute;
  top: 136px;
  left: 20px;
  transition: opacity ease-out .5s;
}

/* TEMPERATURE DISPLAY */
.temperature-display {
  padding: 0;
  margin: 0;
}

.temperature-numeral {
  line-height: .5em;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  padding: 0;
  font-size: 5em;
  font-weight: bold;
  color: #FF8157;
}

.temperature-unit {
  font-size: .5em;
  vertical-align: super;
  color: #fff;
}